/* *{margin: 0;padding: 0;}
.dateWrap ,.hourDate,.motDate,.weekDate,.dateWrap li,.dateWrap li span{display: inline-block;*display: inline;vertical-align: top;*zoom: 1;}
.dateWrap {width: 945px;height: 656px;border: 1px solid #c9c9c9;clear: both;}
.dateWrap .set-title,.dateWrap .weekDate{margin-left:45px;width: 797px;background: #efefef;}
.dateWrap .set-title{height: 41px;line-height: 41px;text-align: center;font-size: 16px;border-bottom: 1px solid #c2c2c2;}
.dateWrap .set-title .btn{cursor: pointer;color: #58afff;}
.dateWrap .set-title span{padding: 0 130px;color: #7f7f7f;}
.dateWrap .set-title .grey{color: #ccc;cursor: auto;}
.dateWrap .date-title{width: 148px;height: 83px;float: left;background: url(../images/date.png) no-repeat 0 0}
.dateWrap .stu-date-title{width: 176px;background:url(../images/stu_date.png) no-repeat 0 0}
.dateWrap .weekDate{display: block;}
.dateWrap .weekDate ul{border-top: none;}
.dateWrap .weekDate li{width: 113px;height: 40px;line-height: 40px;text-align: center;border-left: 1px solid #ccc;border-bottom: 1px solid #c2c2c2;}
.dateWrap .weekDate li:first-child{border-left: none}
.dateWrap .weekDate li span{font-size: 14px;color: #868686;}
.dateWrap .weekDate li span:first-child{font-size: 16px;color: #363636}
.dateWrap  li{width: 113px;font-size: 16px;font-family: 'Microsoft YaHei'}
.dateWrap .hourDate span{width: 113px;height:24px;}
.dateWrap .hourDate {position: relative;}
.dateWrap .hourDate ul{margin-left: 45px;}
.dateWrap .hourDate li{width: auto;}
.dateWrap .hourDate li span{height: 40px;line-height: 40px;text-align: center;border-left: 1px solid #c2c2c2;border-bottom: 1px solid #c2c2c2;cursor: pointer;}
.dateWrap .hourDate li span:hover{background: #ffefef;}
.dateWrap .hourDate li span.week-hour{width: 102px;font-size: 12px;color: #919191;border-left: none;background: #efefef;}
.dateWrap .hourDate li span.hourpat00,.dateWrap .hourDate li span.hourpat01,.dateWrap .hourDate li span.hourpat02{position: absolute;left: 0; width:44px;height: 44px;line-height:initial;display: inline-block;padding: 80px 0;border-bottom: 1px solid #c2c2c2;border-right: 1px solid #c2c2c2;border-left:none;background: #efefef;}
.dateWrap .hourDate li span.hourpat00{top:1px;padding: 59px 0}
.dateWrap .hourDate li span.hourpat01{top:164px;}
.dateWrap .hourDate li span.hourpat02{top:369px;}
.dateWrap .weekDate li .active{color: #ff3f3f;}
.dateWrap li span.disabled,.dateWrap li span.disabled:hover{background: url(../images/disabled.png) no-repeat center center;cursor: auto;}
.dateWrap li span.selected,.dateWrap li span.selected:hover{background: url(../images/selected.png) no-repeat center center;}
.dateWrap .stu-hourDate li span.selected,.dateWrap .stu-hourDate li span.selected:hover{background: url(../images/stu_selected.png) no-repeat center center;}
.dateWrap li span.have,.dateWrap li span.have:hover{background: url(../images/have.png) no-repeat center center;cursor:auto;}
 */
 .pager li.now-month{display: inline-block;padding: 5px 14px;}
 body .table>tbody>tr>td{line-height: 30px;}
 a.label{display: block;margin-bottom: 5px;}
 .tag{position: relative;bottom: 0;left: 0; display:block;width: 100%;height: auto;line-height: normal;text-align: center; color: #FFF;font-size: 12px; background: #d9534f}
 td span{display: block;}
 .layer{position: absolute;width: 100%;padding: 10px;background: #FFF;border-radius: 5px;border: 1px solid #ccc;z-index: 99999;}
 .layer .label{display: inline-block;margin: 0 5%;width: 40%;float: none;}
 /*.arrow{position: absolute;top: -5px;margin-left: -5px;width: 0;height: 0;border-width: 0 1px 1px;border-style: solid;border-color: transparent;border-bottom-color: #428bca;display: block;z-index: 10000}*/
 .arrow{position: absolute;top: -6px;margin-left: -5px;width: 10px;height: 10px;border-top: 1px solid #ccc;border-left: 1px solid #ccc;display: block;transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);background: #FFF;z-index: 10000}
